// @media only screen and (min-width:992px) and (max-width: 1199px) { for medium device - col-md }
// @media only screen and (min-width:768px) and (max-width: 991px) { for tab portrait - col-sm  }
// @media only screen and (max-width: 767px) { for all mobile device - col-xs }
//Generate font size classes from 2px to 80px for desktop
@import 'variables';
@import 'common-styles';
$class-font: font !default;
@for $i from 2 through 80 {
    @if ($i % 2==0) {
        //Attach class name to font sizes
        .#{$class-font}-#{$i} {
            font-size: #{$i}px;
        }
    }
}
@media all and (max-width: 767px) {
    //Generate font size classes from 2px to 80px with 50% size compared to desktop size for mobile
    $class-font: font !default;
    @for $i from 2 through 80 {
        @if ($i % 2==0) {
            //Attach class name to font sizes
            .#{$class-font}-#{$i} {
                font-size: #{ceil($i * 0.6)}px;
            }
        }
    }
    body {
        position: relative;
        padding-top: 64px;
    }
    // LOGO ROW STYLES START 
    .logo-section {
        margin-bottom: 40px;
        .harman-logo {
            width: 90px;
            height: auto;
        }
        .nyse-search-burger {
            .hamburger {
                a {
                    padding: 22px 25px;
                    font-size: 20px;
                }
            }
            .search {
                a {
                    padding: 22px 25px;
                    font-size: 20px;
                }
            }
            .nyse {
                display: none;
                position: absolute;
                top: 68px;
                right: 0;
                width: auto;
                padding: 8px 15px;
                text-align: right;
                .nyse-value {
                    display: inline-block;
                }
            }
        }
    }
    #search-modal {
        .modal-dialog {
            margin: 0;
            margin-top: 105px;
        }
    }
    // LOGO ROW STYLES END 
    /* FOR MAIN HERO BANNER START */
    #homeCarousel {
        .carousel-inner {
            height: auto;
        }
        .carousel-indicators {
            text-align: center;
            width: 100%;
            bottom: -30px;
            left: 30%;
        }
        .carousel-indicators .active {
            background: $very-dark-blue;
            border: solid 1px $very-dark-blue;
        }
        .carousel-indicators li {
            background: $white;
            border: solid 1px $very-dark-blue;
        }
        .carousel-inner>.item>a>img,
        .carousel-inner>.item>img {
            max-width: 100%;
        }
        .carousel-inner {
            .carousel-contents {
                .title-box {
                    padding: 0;
                    .content {
                        margin-left: 0px;
                        width: 100%;
                        bottom: -51px;
                        h1 {
                            font-size: 24px;
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                        .cta {
                            a {
                                padding: 15px 25px;
                            }
                        }
                    }
                }
                .desc {
                    margin-top: 50px;
                    p {
                        font-size: 14px;
                        padding: 15px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    /* FOR MAIN HERO BANNER END */
    // SOLUTION SECTION STYLES START
    .solutions {
        margin-bottom: 30px;
        h1 {
            padding: 0 15px;
        }
        .solution-cards {
            margin-bottom: 30px;
            .solution-card-bg {
                display: none;
                min-height: inherit;
            }
            .solution-cont-container {
                display: block;
                height: auto;
                padding: 0;
                border: none;
                background: #fff;
                position: relative;
                /* &:hover h1,
                &:hover .cta-txt-link {
                    color: inherit;
                }
                &:hover .desc {
                    display: inherit;
                    color: $black;
                }
                &:hover {
                    bottom: 0px;
                    top: 0px;
                    background: none;
                    border: none;
                }*/
                h1 {
                    background: $soft-cyan;
                    padding: 15px;
                    color: $white;
                    font-weight: 400;
                }
                .desc {
                    padding: 15px;
                    font-size: 16px;
                }
                .hline {
                    display: none;
                }
                .cta-txt-link {
                    font: {
                        size: 18px;
                        weight: 700;
                    }
                    position:relative;
                    bottom: inherit;
                    padding-left: 0;
                    /*padding-left: 25px 15px;*/
                    padding-top: 0;
                    padding-bottom: 0;
                    margin: inherit;
                    left: 15px;
                    width: 90%;
                    .arrow {
                        display: none;
                    }
                }
            }
            &:hover .solution-cont-container .cta-txt-link {
                color: inherit;
            }
            &:hover .solution-cont-container .desc {
                display: inherit;
                color: $black;
            }
            &:hover .solution-cont-container {
                bottom: 0px;
                top: 0px;
                background: none;
                border: none;
            }
        }
    }
    // SOLUTION SECTION STYLES END
    // NEWS SECTION STYLES START
    #news {
        .c-1 {
            height: 300px !important;
        }
        .c-4 {
            height: 230px;
        }
        .c-5 {
            height: 70px;
        }
        .brand-image {
            text-align: center;
        }
        .main-content .card-content .small-strip .desc {
            display: block;
        }
        .card-content {
            .sub-title {
                padding-left: 0px;
                text-align: center;
            }
        }
        //News Carousel start
        .news-carousel {
            height: 100%;
            #newsCarousel {
                height: 100%;
                .carousel-indicators {
                    width: 60%;
                    text-align: center;
                }
                .carousel-inner {
                    height: 100%;
                    .item {
                        height: 100%;
                        .carousel-content {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
        //News Carousel end
    }
    // NEWS SECTION STYLES END
    // ECOSYSTEM SECTION STYLES START 
    .ecosystem {
        margin-bottom: 30px;
        h1 {
            padding: 0 15px;
        }
        .brands,
        .partners {
            h3 {
                font-size: 18px;
                padding: 0 15px;
            }
            .hline {
                width: 100%;
            }
            .logo-collection {
                li {
                    min-width: inherit;
                    margin-bottom: 20px;
                    a {
                        width: 90px;
                    }
                }
            }
        }
    }
    // ECOSYSTEM SECTION STYLES END
    // recognition SECTION STYLES START
    #recognition {
        margin-bottom: 40px;
        h1 {
            padding: 0 15px;
        }
        .carousel-indicators {
            text-align: center;
            width: 100%;
            bottom: -40px;
            margin-left: -50%;
            li {
                border: none;
                background: rgba($dark-greyish-blue, 0.5);
            }
            .active {
                background: $dark-greyish-blue;
            }
        }
        .carousel-inner {
            .recognition-img {
                width: 100%;
                height: 180px;
            }
            .carousel-caption {
                right: 0;
                top: 70px;
                height: 110px;
                padding: 0;
                .carousel-cont {
                    padding: 10px 15px;
                    font-size: 16px;
                    img {
                        width: 100px;
                        height: auto;
                        position: absolute;
                        top: -50px;
                    }
                }
            }
        }
        .cta {
            a {
                padding: 10px 25px;
                .arrow {
                    float: right;
                }
            }
        }
    }
    //recognition SECTION STYLES END
    /*ABOUT SECTION STYLES START*/
    .about-section {
        margin-top: 30px;
        margin-bottom: 10px;
        .section-title {
            margin-top: 15px;
            padding-left: 15px;
        }
        .about-content {
            @include columns($count: 1, $gap: 30px);
            padding-left: 0px;
            padding-right: 0px;
            p {
                line-height: 22px;
            }
            .morelink {
                display: block;
                padding-top: 15px;
            }
        }
    }
    /*ABOUT SECTION STYLES END*/
    // HERITAGE SECTION STYLES START
    .heritage-section {
        .c-1 {
            height: 300px;
        }
        .c-2 {
            height: 300px;
        }
        .c-3 {
            height: 300px;
        }
        .c-4 {
            height: 300px;
        }
        .call-to-action {
            padding-left: 15px;
        }
        .desc {
            padding-left: 15px;
        }
        .arrow {
            float: right;
        }
    }
    // HERITAGE SECTION STYLES END
    /*FOOTER SECTION START*/
    footer {
        .lang-btn-div {
            text-align: center;
            width: 100%;
            .a_btn {
                float: none !important;
            }
        }
        .footer-menu li {
            display: list-item;
        }
        .social-icons {
            li {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        // Center text in mobile layout
        .m-text-center {
            text-align: center;
        }
        .copyright {
            font-size: 10px;
        }
    }
    /*FOOTER SECTION END*/
    .solution-types {
        .border-right-2 {
            @include border-width-color-radius(0px, $white, (0));
        }
        .panel {
            border-left: none;
            border-right: none;
            background-color: $very-light-grey;
            a {
                .panel-heading {
                    background-color: $very-light-grey;
                    border: none;
                }
                .panel-body {
                    @include border-width-color-radius(0px, #ccc, (4px 4px 4px 4px));
                    .img-bg {
                        height: 200px;
                        @include border-width-color-radius(0px, null, (4px 4px 4px 4px));
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                    .img-bg1 {}
                    .panel-content {
                        @include border-width-color-radius(0px, null, (0px 0px 4px 4px));
                        border-top: none;
                        padding: 15px;
                        p {}
                        .call-to-action {
                            width: 100%;
                            overflow: hidden;
                            p {
                                display: inline;
                                @include linkColor($dark-blue, $dark-blue, null, null);
                            }
                            .arrow {
                                margin-top: -2px;
                                padding-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    .solutions-hero {
        position: relative;
        .hero-bg {
            height: 150px;
        }
        .hero-content {
            position: relative;
            width: 100%;
            left: 0;
            height: 100%;
            padding-right: 15px;
            p {
                font-size: 14px;
                padding-top: 10px;
                transform: none !important;
                color: $very-dark-grey;
            }
        }
    }
    // COMPANY OVERVIEW STYLES START
    .overview-section {
        h1 {
            padding-left: 15px;
        }
        /*	 .hline {
            @include horizontal-line($light-grayish-red, 1px);
            width: 100%;
            margin: 10px 0 20px 0;
        }*/
        h3 {
            padding-left: 0px;
            padding-right: 0px;
        }
        .overview-content {
            padding-left: 0px;
            padding-right: 0px;
            @include columns($count: 1, $gap: 40px);
            p {
                font-weight: 300;
                line-height: 22px;
            }
        }
    }
    // COMPANY OVERVIEW STYLES END
    // COMPANY OVERVIEW - VISION & MISSION STYLES START
    .vision-mission-section {
        h1 {
            padding-left: 15px;
        }
        .img-bg {
            height: 200px;
            .img-bg-content {
                @include vertical-align();
                h1 {
                    text-align: left;
                }
            }
        }
        .desc {
            margin-top: 0;
            p {
                font-size: 16px;
                padding: 15px 0 15px 0;
            }
        }
    }
    // COMPANY OVERVIEW - VISION & MISSION STYLES END
    // COMPANY OVERVIEW - VALUES  STYLES START
    .values-section {
        h1 {
            padding-left: 15px;
        }
        .panel {
            @include border-width-color-radius(2px, #fff, (4px));
            .panel-body {
                /*@extend .padding-0;*/
                .img-bg {
                    height: 200px;
                    @include border-width-color-radius(0px, transparent, (0));
                }
                .panel-content {
                    /*@extend .padding-left-right-30;*/
                    padding-bottom: 10px;
                    margin: 0 auto;
                    margin-top: 0px;
                    background-color: white;
                    width: 100%;
                    @include border-width-color-radius(1px, #ccc, (0px 0px 4px 4px));
                    border-top: none;
                    right: 0;
                    left: 0;
                    .hline {
                        width: 35%;
                        margin: 20px 0;
                    }
                }
            }
        }
    }
    // COMPANY OVERVIEW - VALUES  STYLES END
    // COMPANY OVERVIEW - ABOUT US STYLES START
    .about-us-section {
        h1 {
            padding: 0 15px;
        }
        .about-us-bg {
            height: 250px;
            padding-left: 15px;
        }
        .hero-content-bg {
            /*@include transparent($white, 0.75);*/
            height: auto;
            position: absolute;
            bottom: 0;
            width: 100%;
            .hero-content {
                padding-left: 0;
                top: 0%;
                -webkit-transform: translateY(0%);
                -ms-transform: translateY(0%);
                transform: translateY(0%);
                h2 {
                    /*@extend .font-36;*/
                    font-weight: 300;
                }
                p {
                    /*@extend .font-24;*/
                    font-weight: 300;
                }
            }
        }
    }
    // COMPANY OVERVIEW - ABOUT US STYLES END
    // LEADERS STYLE START
    .leadership {
        margin-top: 50px;
        .mob-leader-navigation {
            #mob-leader-navbar {
                margin-top: 64px;
                background: $dark-blue;
                .navbar-header {
                    .navbar-toggle {
                        padding: 7px 15px 0 0;
                        color: $white;
                    }
                    .navbar-brand {
                        padding: 17px 15px 0 15px;
                        color: $white;
                        &:hover {
                            color: $white;
                        }
                    }
                }
                #navbarCollapse {
                    a {
                        color: $white;
                        font-size: 18px;
                        span {
                            display: block;
                            font-size: 14px;
                        }
                        &:hover,
                        &:focus {
                            background: $very-dark-blue2;
                            color: $white;
                        }
                    }
                }
            }
        }
        .leader-cont-desc {
            padding-left: 0;
            .tab-content {
                .leaders {
                    display: block;
                    padding: 0;
                    margin-bottom: 85px;
                    .leader-img-name {
                        margin-bottom: 20px;
                        .leader-img {
                            width: 100%;
                            height: 350px;
                            border-radius: 0;
                        }
                        .leader-name-desig {
                            left: 0px;
                            background: $white;
                            background: rgba(255, 255, 255, 0.9);
                            padding: 15px;
                            h1 {
                                font-size: 24px;
                                margin: 0;
                            }
                            .hline {
                                margin: 10px 0;
                            }
                        }
                    }
                    .about-leader {
                        padding: 0 15px;
                    }
                }
            }
        }
    }
    // LEADERS STYLE END
}
@media all and (min-width:768px) and (max-width:991px) {
    //Generate font size classes from 2px to 80px with 70% size compared to desktop size for mobile
    $class-font: font !default;
    @for $i from 2 through 80 {
        @if ($i % 2==0) {
            //Attach class name to font sizes
            .#{$class-font}-#{$i} {
                font-size: #{ceil($i * 0.8)}px;
            }
        }
    }
    // FOR MAIN HERO BANNER START
    #homeCarousel {
        .carousel-indicators {
            width: 65%;
        }
        .carousel-control.left {
            left: 86.5%;
        }
    }
    // FOR MAIN HERO BANNER END
    // SOLUTIONS CARDS STYLES START 
    .solutions {
        margin-bottom: 30px;
        h1 {
            padding: 0 15px;
        }
        .solution-cards {
            .solution-card-bg {
                width: 100%;
                display: block;
                min-height: 250px;
            }
            .solution-cont-container {
                /* &:hover {
                    bottom: 0px;
                    top: 80px;
                }
                &:hover h1,
                &:hover .cta-txt-link {
                    color: $white;
                }
                &:hover .hline,
                &:hover .desc {
                    display: none;
                }
                &:hover .cta-txt-link .arrow {
                    display: inline-block;
                }*/
                h1 {
                    color: $black;
                    font-weight: 300;
                    margin-bottom: 0;
                    padding-left: 0;
                    @include transition;
                    text-transform: uppercase;
                }
                .hline {
                    @include horizontal-line($black, 1px);
                    width: 40%;
                    margin: 20px 0;
                }
                .desc {
                    @include linkColor($black, $black, null, null);
                    margin-bottom: 0;
                }
                .cta-txt-link {
                    font: {
                        size: 18px;
                        weight: 700;
                    }
                    /*margin: 30px 10px 20px 0;*/
                    position: absolute;
                    bottom: 10px;
                    left: 0px;
                    .arrow {
                        display: none;
                        padding-left: 25px;
                    }
                }
            }
            &:hover .solution-cont-container {
                bottom: 0px;
                top: 80px;
            }
            &:hover .solution-cont-container h1,
            &:hover .solution-cont-container .cta-txt-link {
                color: $white;
            }
            &:hover .solution-cont-container .hline,
            &:hover .solution-cont-container .desc {
                display: none;
            }
            &:hover .solution-cont-container .cta-txt-link .arrow {
                display: inline-block;
            }
        }
    }
    // SOLUTIONS CARDS STYLES END
    // NEWS SECTION STYLES START 
    #news {
        .c-1 {
            height: 300px !important;
        }
        .c-4 {
            height: 230px;
        }
        .c-5 {
            height: 70px;
        }
        .brand-image {
            text-align: center;
        }
        .main-content .card-content .small-strip .desc {
            display: block;
        }
        .card-content {
            .sub-title {
                padding-left: 0px;
                text-align: center;
            }
        }
        //News Carousel start
        .news-carousel {
            height: 100%;
            #newsCarousel {
                height: 100%;
                .carousel-indicators {
                    width: 60%;
                    text-align: center;
                }
                .carousel-inner {
                    height: 100%;
                    .item {
                        height: 100%;
                        .carousel-content {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
        //News Carousel end
    }
    // NEWS SECTION STYLES END 
    // ECOSYSTEM SECTION STYLES START 
    .ecosystem {
        .brands,
        .partners {
            .logo-collection {
                li {
                    min-width: inherit;
                    margin-bottom: 20px;
                    a {
                        width: 90px;
                    }
                }
            }
        }
    }
    // ECOSYSTEM SECTION STYLES END
    // RECOGNITION SECTION STYLES START
    #recognition {
        margin-bottom: 40px;
        h1 {
            padding: 0 15px;
        }
        .carousel-indicators {
            width: 65%;
        }
        .carousel-control.left {
            left: 86.5%;
        }
        .carousel-inner {
            .carousel-caption {
                padding: 0;
                right: 60%;
                .carousel-cont {
                    padding: 30px 20px 50px 25px;
                    font-size: 20px;
                }
            }
        }
    }
    // RECOGNITION SECTION STYLES END
    // HERITAGE SECTION STYLES START 
    .heritage-section {
        .c-1 {
            height: 600px;
        }
        .c-2 {
            height: 300px;
        }
        .c-3 {
            height: 300px;
        }
        .c-4 {
            height: 300px;
        }
        .call-to-action {
            padding-left: 15px;
        }
        .arrow {
            float: right;
        }
    }
    // HERITAGE SECTION STYLES END 
    .solution-types {
        .border-right-2 {
            @include border-width-color-radius(2px, $white, (0));
        }
        .panel {
            border: none;
            a {
                @include linkColor($very-dark-grey, null, null, null);
                @include arrow-animation;
                .panel-heading {
                    border: none;
                    h3 {}
                }
                .panel-body {
                    @include border-width-color-radius(0px, #ccc, (4px 4px 4px 4px));
                    overflow: hidden;
                    .img-bg {
                        height: 200px;
                    }
                    .img-bg1 {}
                    .panel-content {
                        @include border-width-color-radius(1px, #ccc, (0px 0px 4px 4px));
                        border-top: none;
                        padding: 15px;
                        p {}
                        .call-to-action {
                            width: 100%;
                            overflow: hidden;
                            p {
                                display: inline;
                                @include linkColor($dark-blue, $dark-blue, null, null);
                            }
                            .arrow {
                                margin-top: -2px;
                                padding-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    .solutions-hero {
        position: relative;
        .hero-bg {
            height: 150px;
        }
        .hero-content {
            position: relative;
            width: 100%;
            left: 0;
            height: 100%;
            padding-right: 15px;
            p {
                font-size: 14px;
                padding-top: 10px;
                transform: none !important;
                color: $very-dark-grey;
            }
        }
    }
    // COMPANY OVERVIEW - VISION & MISSION STYLES START
    .vision-mission-section {
        h1 {}
        .img-bg {
            height: 300px;
            .img-bg-content {
                @include vertical-align();
                h1 {
                    text-align: left;
                }
            }
        }
        .desc {
            margin-top: 0;
            p {
                font-size: 16px;
                padding: 15px 0 15px 0;
            }
        }
    }
    // COMPANY OVERVIEW - VISION & MISSION STYLES END
    // COMPANY OVERVIEW - ABOUT US STYLES START
    .about-us-section {
        .about-us-bg {
            height: 300px;
            padding-left: 15px;
        }
        .hero-content-bg {
            /*@include transparent($white, 0.75);*/
            height: auto;
            position: absolute;
            bottom: 0;
            width: 100%;
            .hero-content {
                padding-left: 0;
                top: 0%;
                -webkit-transform: translateY(0%);
                -ms-transform: translateY(0%);
                transform: translateY(0%);
                h2 {
                    /*@extend .font-36;*/
                    font-weight: 300;
                }
                p {
                    /*@extend .font-24;*/
                    font-weight: 300;
                }
            }
        }
    }
    // COMPANY OVERVIEW - ABOUT US STYLES END
    // LEADERS STYLE START
    .leadership {
        .tab-content {
            .leaders {
                padding-left: 30px;
                .leader-img-name {
                    .leader-img {
                        width: 150px;
                        height: 150px;
                        margin-left: 0;
                    }
                    .leader-name-desig {
                        left: 165px;
                        h1 {
                            font-size: 24px;
                        }
                        .hline {
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
    // LEADERS STYLE END
}
@media only screen and (min-width:992px) and (max-width: 1199px) {
    //    MAIN BANNER STYLES START 
    #homeCarousel {
        .carousel-control.left {
            left: 90%;
        }
        .carousel-indicators {
            width: 69%;
        }
        .content {
            h1 {
                font-size: 40px;
            }
        }
    }
    //    MAIN BANNER STYLES END
    // ECOSYSTEM SECTION STYLES START 
    .ecosystem {
        .brands,
        .partners {
            .logo-collection {
                li {
                    min-width: inherit;
                    margin-bottom: 20px;
                    a {
                        width: 90px;
                    }
                }
            }
        }
    }
    // ECOSYSTEM SECTION STYLES END 
    // RECOGNITION CAROUSEL START 
    #recognition {
        margin-bottom: 40px;
        h1 {
            padding: 0 15px;
        }
        .carousel-indicators {
            width: 68%;
        }
        .carousel-control.left {
            left: 90%;
        }
        .carousel-inner {
            .carousel-caption {
                padding: 0;
                right: 60%;
                .carousel-cont {
                    font-size: 30px;
                }
            }
        }
    }
    // RECOGNITION CAROUSEL END
}
